@font-face{
    font-family:'inter';
    src: url('./fonts/Inter-Regular.ttf') format('truetype');
}

@font-face{
    font-family:'jost';
    src: url('./fonts/Jost-SemiBold.ttf') format('truetype');
}